Repository BinaryStudioAcademy/bsa-2020-buildeR, pull requests merged in 2020-09, with the labels that each got.

#237 Feature/repository branches to processor
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.BLL/Interfaces/IBuildOperationsService.cs
  backend/buildeR.BLL/Services/BuildOperationsService.cs
  backend/buildeR.BLL/Services/WebhooksHandler.cs
  backend/buildeR.Common/DTO/BuildHistory/ExecutiveBuildDTO.cs
  backend/buildeR.Processor/Services/ProcessorService.cs
Labels: backend

#238 Fix the text content
  frontend/src/app/modules/user/credential-settings/credential-settings.component.sass
  frontend/src/app/modules/user/notification-setting/notification-setting.component.sass
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
Labels: frontend

#239 Github synchronization enhancment
  backend/buildeR.BLL/Services/SynchronizationService.cs
  frontend/src/app/modules/user/credential-settings/credential-settings.component.html
  frontend/src/app/modules/user/credential-settings/credential-settings.component.sass
Labels: enhancement, frontend

#240 Add the radio buttons on the project settings and modal "copy" and also add label
  frontend/src/app/modules/group/group-settings/group-settings.component.sass
  frontend/src/app/modules/landing-page/landing-page.component.html
  frontend/src/app/modules/project/modal-copy-project/modal-copy-project.component.html
  frontend/src/app/modules/project/modal-copy-project/modal-copy-project.component.sass
  frontend/src/app/modules/project/modal-copy-project/modal-copy-project.component.ts
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.sass
  frontend/src/app/modules/project/project-settings/project-settings.component.html
  frontend/src/app/modules/project/project-settings/project-settings.component.sass
  frontend/src/app/modules/project/project-settings/project-settings.component.ts
  frontend/src/styles/global.sass
Labels: frontend

#241 Move the styles of close button to global styles
  frontend/src/app/modules/project/modal-copy-project/modal-copy-project.component.html
  frontend/src/app/modules/project/modal-copy-project/modal-copy-project.component.ts
  frontend/src/app/modules/project/project-create/project-create.component.sass
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/styles/global.sass
Labels: frontend

#243 Fix/steps separate save
  backend/buildeR.API/Controllers/BuildStepsController.cs
  backend/buildeR.BLL/Interfaces/IBuildStepService.cs
  backend/buildeR.BLL/Services/BuildStepService.cs
  frontend/src/app/core/services/build-step.service.ts
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.html
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.ts
  frontend/src/app/shared/models/build-step.ts
  frontend/src/app/shared/models/empty-build-step.ts
Labels: enhancement, frontend

#244 Feature/groups projects
  backend/buildeR.API/Controllers/GroupsController.cs
  backend/buildeR.API/Controllers/ProjectGroupController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.BLL/Interfaces/IProjectGroupService.cs
  backend/buildeR.BLL/Services/ProjectGroupService.cs
  frontend/src/app/core/resolvers/group.resolver.ts
  frontend/src/app/core/services/modal.service.spec.ts
  frontend/src/app/core/services/project-group.service.ts
  frontend/src/app/modules/group/group-members/group-members.component.ts
  frontend/src/app/modules/group/group-projects/group-projects.component.html
  frontend/src/app/modules/group/group-projects/group-projects.component.sass
  frontend/src/app/modules/group/group-projects/group-projects.component.ts
  frontend/src/app/shared/models/group/group.ts
  frontend/src/app/shared/models/group/project-group.ts
Labels: backend, frontend

#246 fixed according to requirments
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.html
Labels: frontend

#245 Bugfix/linkwithpopup
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/firebase-sign-in.service.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
Labels: bugfix, frontend

#247 change route from group projects to group settings
  frontend/src/app/modules/work-space/work-space/work-space.component.html
Labels: bugfix, frontend

#248 added autofill property for small charts
  frontend/src/app/modules/project/project.component.ts
  frontend/src/app/modules/user/insights/insights.component.sass
  frontend/src/app/modules/user/insights/insights.component.ts
Labels: frontend

#249 Hotfix/update build steps
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.html
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.ts
Labels: bugfix

#251 Feature/restart build
  frontend/src/app/modules/project/logging-terminal/logging-terminal.component.ts
  frontend/src/app/modules/project/project-build/project-build.component.html
  frontend/src/app/modules/project/project-build/project-build.component.sass
  frontend/src/app/modules/project/project-build/project-build.component.ts
  frontend/src/app/modules/project/project.component.html
  frontend/src/app/modules/project/project.component.sass
  frontend/src/app/modules/project/project.component.ts
Labels: frontend

#252 Fix/project groups
  backend/buildeR.BLL/Services/GroupService.cs
  frontend/src/app/core/services/build-history.service.ts
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/modules/group/group-projects/group-projects.component.html
  frontend/src/app/modules/group/group-projects/group-projects.component.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/app/shared/components/projects-display/projects-display.component.html
  frontend/src/app/shared/components/projects-display/projects-display.component.sass
  frontend/src/app/shared/components/projects-display/projects-display.component.ts
  frontend/src/app/shared/shared.module.ts
Labels: backend, frontend

#253 Feature/make user profile for other users
  frontend/src/app/core/resolvers/user.resolver.ts
  frontend/src/app/core/services/firebase-sign-in.service.ts
  frontend/src/app/modules/group/group-members/group-members.component.html
  frontend/src/app/modules/group/group-members/group-members.component.sass
  frontend/src/app/modules/project/project-build-history/project-build-history.component.html
  frontend/src/app/modules/project/project-build/project-build.component.html
  frontend/src/app/modules/project/project.component.html
  frontend/src/app/modules/user/user-routing.module.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
  frontend/src/app/modules/user/user.component.html
  frontend/src/app/modules/user/user.component.ts
  frontend/src/app/modules/work-space/work-space-routing.module.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/app/shared/components/projects-display/projects-display.component.html
Labels: bugfix, frontend

#255 fix mistake in class name
  frontend/src/app/modules/landing-page/landing-page.component.html
Labels: bugfix, frontend

#254 Fix/edit environment variables
  frontend/src/app/modules/project/project-settings/project-settings.component.ts
Labels: bugfix, frontend

#256 Fix/edit environment variables
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.html
Labels: bugfix, frontend

#262 Changed id for label
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
Labels: bugfix, frontend

#261 hotfix/user-details
  frontend/src/app/modules/group/group-members/group-members.component.html
  frontend/src/app/modules/group/group-members/group-members.component.sass
  frontend/src/app/modules/project/project-build-history/project-build-history.component.html
  frontend/src/app/modules/project/project-build-history/project-build-history.component.sass
  frontend/src/app/modules/project/project-build/project-build.component.html
  frontend/src/app/modules/project/project-build/project-build.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.html
Labels: bugfix, frontend

#264 Fixed "Run on schedule switcher at the Project settings tab is not clickable"
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
Labels: bugfix, frontend

#265 Changed mapping "notificationType to descriptions"
  frontend/src/app/modules/user/notification-setting/notification-setting.component.ts
Labels: bugfix, frontend

#267 Hotfix/user details
  frontend/src/app/modules/project/project-build-history/project-build-history.component.html
  frontend/src/app/modules/project/project-build-history/project-build-history.component.ts
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.html
Labels: frontend

#268 Hotfix/fix display user insights
  frontend/src/app/core/resolvers/user.resolver.ts
  frontend/src/app/modules/user/insights/insights.component.ts
Labels: bugfix, frontend

#269 Change styles and template for dashboard
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/app/shared/components/projects-display/projects-display.component.html
Labels: bugfix, frontend

#272 Terminal improvements
  frontend/src/app/modules/project/logging-terminal/logging-terminal.component.ts
Labels: frontend

#273 Feature/logs save
  backend/buildeR.API/Controllers/LogsController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.BLL/Interfaces/ILogService.cs
  backend/buildeR.BLL/Services/LogService.cs
  backend/buildeR.BLL/buildeR.BLL.csproj
  backend/buildeR.Common/DTO/ProjectLog.cs
  backend/buildeR.Processor/Extensions/ServiceExtensions.cs
  backend/buildeR.Processor/Services/ProcessorService.cs
  backend/buildeR.SignalR/HostedServices/BackgroundWorker.cs
  frontend/src/app/core/services/projects-logs.service.ts
  frontend/src/app/modules/project/logging-terminal/logging-terminal.component.ts
  frontend/src/app/modules/project/project-build/project-build.component.ts
Labels: backend, frontend

#271 Changed triggers block by redesign "on the projects settings page"
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.sass
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
Labels: bugfix, frontend

#275 Feature/admin area plugins
  backend/buildeR.API/Controllers/BuildPluginsController.cs
  backend/buildeR.API/Controllers/PluginCommandsController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.BLL/Interfaces/IBuildPluginService.cs
  backend/buildeR.BLL/Interfaces/IPluginCommandService.cs
  backend/buildeR.BLL/Services/BuildOperationsService.cs
  backend/buildeR.BLL/Services/BuildPluginService.cs
  backend/buildeR.BLL/Services/PluginCommandService.cs
  backend/buildeR.Common/DTO/BuildPlugin/BuildPluginDTO.cs
  backend/buildeR.Common/DTO/BuildPlugin/NewBuildPluginDTO.cs
  backend/buildeR.DAL/Entities/BuildPlugin.cs
  frontend/src/app/app.module.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/guards/admin.guard.spec.ts
  frontend/src/app/core/guards/admin.guard.ts
  frontend/src/app/core/services/build-plugin.service.ts
  frontend/src/app/core/services/plugin-command.service.ts
  frontend/src/app/modules/admin-area/admin-area-routing.module.ts
  frontend/src/app/modules/admin-area/admin-area.module.ts
  frontend/src/app/modules/admin-area/admin-area/admin-area.component.html
  frontend/src/app/modules/admin-area/admin-area/admin-area.component.sass
  frontend/src/app/modules/admin-area/admin-area/admin-area.component.spec.ts
  frontend/src/app/modules/admin-area/admin-area/admin-area.component.ts
  frontend/src/app/modules/admin-area/plugins/plugins.component.html
  frontend/src/app/modules/admin-area/plugins/plugins.component.sass
  frontend/src/app/modules/admin-area/plugins/plugins.component.spec.ts
  frontend/src/app/modules/admin-area/plugins/plugins.component.ts
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.html
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.ts
  frontend/src/app/modules/work-space/work-space-routing.module.ts
  frontend/src/app/modules/work-space/work-space.module.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/app/shared/models/build-plugin.ts
Labels: backend, frontend

#276 Add remote branch triggers
  backend/buildeR.API/Controllers/RemoteTriggersController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/Middleware/GenericExceptionHandlerMiddleware.cs
  backend/buildeR.BLL/Exceptions/NullDTOException.cs
  backend/buildeR.BLL/Interfaces/IProjectRemoteTriggerService.cs
  backend/buildeR.BLL/MappingProfiles/ProjectRemoteTriggerProfile.cs
  backend/buildeR.BLL/Services/ProjectRemoteTriggerService.cs
  backend/buildeR.Common/Enums/RemoteTriggerType.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/services/remote-trigger.service.ts
  frontend/src/app/modules/project/proejct-remote-trigger/proejct-remote-trigger.component.html
  frontend/src/app/modules/project/proejct-remote-trigger/proejct-remote-trigger.component.sass
  frontend/src/app/modules/project/proejct-remote-trigger/proejct-remote-trigger.component.spec.ts
  frontend/src/app/modules/project/proejct-remote-trigger/proejct-remote-trigger.component.ts
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.sass
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
  frontend/src/app/modules/project/project.module.ts
  frontend/src/app/shared/models/remote-trigger/new-remote-trigger.ts
  frontend/src/app/shared/models/remote-trigger/remote-trigger-type.ts
  frontend/src/app/shared/models/remote-trigger/remote-trigger.ts
Labels: backend, frontend

#277 Fix bug with github permissions
  backend/buildeR.BLL/Services/GithubClient.cs
Labels: backend

#278 Feature: load commit hash when github actions trigger project build
  backend/buildeR.BLL/Interfaces/IBuildOperationsService.cs
  backend/buildeR.BLL/Interfaces/IGithubClient.cs
  backend/buildeR.BLL/Interfaces/ISynchronizationService.cs
  backend/buildeR.BLL/Services/BuildOperationsService.cs
  backend/buildeR.BLL/Services/GithubClient.cs
  backend/buildeR.BLL/Services/SynchronizationService.cs
  backend/buildeR.BLL/Services/WebhooksHandler.cs
  backend/buildeR.Common/DTO/Synchronization/Commit.cs
  backend/buildeR.Common/DTO/Synchronization/Github/GithubCommit.cs
Labels: backend, enhancement

#279 Feature raw logs
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/components/raw-logs/raw-logs.component.html
  frontend/src/app/core/components/raw-logs/raw-logs.component.sass
  frontend/src/app/core/components/raw-logs/raw-logs.component.spec.ts
  frontend/src/app/core/components/raw-logs/raw-logs.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/projects-logs.service.ts
  frontend/src/app/modules/project/logging-terminal/logging-terminal.component.html
  frontend/src/app/modules/project/logging-terminal/logging-terminal.component.ts
Labels: frontend

#280 Fix validation on the project settings page and update project
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.BLL/Services/Abstract/IProjectService.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-settings/project-settings.component.html
  frontend/src/app/modules/project/project-settings/project-settings.component.ts
  frontend/src/app/modules/project/validators/project-name.async-validator.ts
Labels: backend, bugfix, frontend

#282 Changed projects settings page by redesign
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.html
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.sass
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.ts
  frontend/src/app/modules/project/project-settings/project-settings.component.html
  frontend/src/app/modules/project/project-settings/project-settings.component.sass
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.sass
Labels: bugfix, frontend

#283 added private/public builds option
  backend/buildeR.BLL/Services/BuildService.cs
  frontend/src/app/modules/user/insights/insights.component.html
  frontend/src/app/modules/user/insights/insights.component.sass
  frontend/src/app/modules/user/insights/insights.component.ts
Labels: frontend

#285 Added groups' projects list on a dashboard
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.BLL/Services/Abstract/IProjectService.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  backend/buildeR.Common/DTO/Project/GroupProjectsDTO.cs
  backend/buildeR.Common/DTO/TeamMember/UsersGroupProjectsDTO.cs
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.ts
  frontend/src/app/shared/models/group-projects.ts
  frontend/src/app/shared/models/users-group-projects.ts
Labels: backend, frontend

#287 Feature/dockerfile step
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.BLL/Services/Abstract/IProjectService.cs
  backend/buildeR.BLL/Services/BuildStepService.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  backend/buildeR.Processor/Services/ProcessorService.cs
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/modules/admin-area/plugins/plugins.component.ts
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.html
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.sass
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.ts
Labels: backend, frontend

#288 Fix/insights
  frontend/src/app/shared/components/chart-big-grouped/chart-big-grouped.component.ts
  frontend/src/app/shared/components/chart-big-normalized/chart-big-normalized.component.html
  frontend/src/app/shared/components/chart-big-normalized/chart-big-normalized.component.ts
Labels: bugfix, frontend

#290 Fix/project page
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.sass
  frontend/src/app/modules/project/project-settings/project-settings.component.sass
  frontend/src/app/modules/project/project-settings/project-settings.component.ts
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.sass
Labels: bugfix, frontend

#291 Improve a requests letter
  backend/buildeR.BLL/Interfaces/IEmailBuilder.cs
  backend/buildeR.BLL/Providers/EmailBuilder.cs
  backend/buildeR.BLL/Services/UserService.cs
Labels: backend

#292 Fix github webhooks callback generation
  backend/buildeR.BLL/Services/SynchronizationService.cs
Labels: backend

#294 Change callback link generation
  backend/buildeR.API/Controllers/SynchronizationController.cs
  backend/buildeR.API/appsettings.Development.json
  backend/buildeR.API/appsettings.Production.json
  backend/buildeR.BLL/Interfaces/ISynchronizationService.cs
  backend/buildeR.BLL/Services/SynchronizationService.cs
Labels: backend

#295 Add cursor pointer to some pages
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
Labels: frontend

#297 Fix view default user avatar on the dashboard
  frontend/src/app/shared/components/projects-display/projects-display.component.html
Labels: frontend

#298 Fix features scroll link on the landing-page
  frontend/src/app/modules/landing-page/landing-page-content.component/landing-page-content.component.html
  frontend/src/app/modules/landing-page/landing-page-content.component/landing-page-content.component.sass
Labels: frontend

#300 Fix initialization for arrays on the admin requests page
  frontend/src/app/modules/admin-area/requests/requests.component.ts
Labels: frontend

#302 changed sizes of loading popup
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.html
Labels: bugfix, frontend

#303 Hotfix/improvement groups
  backend/buildeR.BLL/Services/TeamMemberService.cs
  frontend/src/app/modules/group/group-list/group-list.component.html
  frontend/src/app/modules/group/group-list/group-list.component.sass
  frontend/src/app/modules/group/group-members/group-members.component.html
  frontend/src/app/modules/group/group-members/group-members.component.ts
  frontend/src/app/modules/group/group/group.component.html
  frontend/src/app/modules/group/group/group.component.sass
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.ts
Labels: backend, bugfix, frontend

#304 added about-us page
  backend/buildeR.API/Resources/Avatars/CiKQ8s9D51.png
  frontend/src/app/modules/landing-page/about-us/about-us.component.html
  frontend/src/app/modules/landing-page/about-us/about-us.component.sass
  frontend/src/app/modules/landing-page/about-us/about-us.component.spec.ts
  frontend/src/app/modules/landing-page/about-us/about-us.component.ts
  frontend/src/app/modules/landing-page/landing-page-routing.module.ts
  frontend/src/app/modules/landing-page/landing-page.component.html
  frontend/src/app/modules/landing-page/landing-page.module.ts
  frontend/src/assets/Team/Anton.jpg
  frontend/src/assets/Team/Coaches/Potapy4.jpg
  frontend/src/assets/Team/Coaches/Vova.jpg
  frontend/src/assets/Team/Dima.png
  frontend/src/assets/Team/Maxim.jpg
  frontend/src/assets/Team/Nazar.png
  frontend/src/assets/Team/QA/Anastasia.jpg
  frontend/src/assets/Team/QA/Iryna.jpg
  frontend/src/assets/Team/QA/Lubov.jpg
  frontend/src/assets/Team/Roman_kuk.jpg
  frontend/src/assets/Team/Yevhen_Borodaikevych.jpg
  frontend/src/assets/Team/Yurii.jpg
Labels: frontend

#305 Added validation unique name - environment variable, and some fixes
  backend/buildeR.BLL/Services/EnvironmentVariablesService.cs
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.html
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.sass
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.ts
  frontend/src/app/modules/project/project-settings/project-settings.component.html
  frontend/src/app/modules/project/project-settings/project-settings.component.ts
  frontend/src/app/shared/models/environment-variable/enviroment-variable.ts
Labels: bugfix, frontend

#307 Hotfix/display groups in header
  frontend/src/app/core/resolvers/group.resolver.ts
  frontend/src/app/core/services/group.service.ts
  frontend/src/app/core/services/team-member.service.ts
  frontend/src/app/modules/group/group-chat/group-chat.component.ts
  frontend/src/app/modules/group/group-create/group-create.component.ts
  frontend/src/app/modules/group/group-list/group-list.component.ts
  frontend/src/app/modules/group/group-members/group-members.component.ts
  frontend/src/app/modules/group/group-projects/group-projects.component.ts
  frontend/src/app/modules/group/group-routing.module.ts
  frontend/src/app/modules/group/group-settings/group-settings.component.ts
  frontend/src/app/modules/group/group/group.component.html
  frontend/src/app/modules/group/group/group.component.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.ts
  frontend/src/app/shared/components/tabs/tabs.component.ts
Labels: bugfix, frontend

#306 Added border-bottom and disable text-decoration
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/app/shared/components/projects-display/projects-display.component.html
Labels: bugfix, frontend

#313 Fix project page
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.API/appsettings.json
  backend/buildeR.BLL/Services/Abstract/IProjectService.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/modules/project/project-settings/project-settings.component.ts
  frontend/src/app/modules/project/project.component.html
  frontend/src/app/modules/project/project.component.sass
  frontend/src/app/modules/project/project.component.ts
  frontend/src/styles/global.sass
Labels: backend, frontend

#315 fixed chat scroll, footer and some minor fixes
  frontend/angular.json
  frontend/src/app/modules/group/group-chat/group-chat.component.html
  frontend/src/app/modules/group/group-chat/group-chat.component.sass
  frontend/src/app/modules/group/group-chat/group-chat.component.ts
  frontend/src/app/modules/landing-page/about-us/about-us.component.html
  frontend/src/app/modules/landing-page/about-us/about-us.component.sass
  frontend/src/app/modules/user/insights/insights.component.ts
Labels: bugfix

#316 Hotfix/getting docker images
  backend/buildeR.API/Controllers/BuildPluginsController.cs
  backend/buildeR.Common/DTO/BuildPlugin/PluginVersionLookupDTO.cs
  frontend/src/app/core/services/build-plugin.service.ts
Labels: bugfix, enhancement

#317 fix cant send empty message by pressing enter
  frontend/src/app/modules/group/group-chat/group-chat.component.ts
Labels: bugfix

#319 Hotfix/display notifications after sign in
  frontend/src/app/core/services/notifications.service.ts
  frontend/src/app/modules/group/group-list/group-list.component.ts
  frontend/src/app/modules/group/group-projects/group-projects.component.ts
  frontend/src/app/modules/group/group/group.component.ts
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.html
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.ts
Labels: bugfix, frontend

#318 Return failure for failed builds
  backend/buildeR.Processor/Services/ProcessorService.cs
Labels: backend, enhancement

#321 Disable input field for GH repositories until they are loaded
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.ts
Labels: enhancement, frontend

#323 Fix modal "copy project"
  backend/buildeR.BLL/Services/ProjectService.cs
  frontend/src/app/modules/project/modal-copy-project/modal-copy-project.component.html
  frontend/src/app/modules/project/modal-copy-project/modal-copy-project.component.ts
Labels: backend, bug, frontend

#324 Hotfix/group improvements
  backend/buildeR.BLL/Services/TeamMemberService.cs
  frontend/src/app/core/services/notifications.service.ts
  frontend/src/app/modules/group/group-list/group-list.component.html
  frontend/src/app/modules/group/group-members/group-members.component.ts
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
Labels: bugfix, frontend

#327 Hotfix/registration modal in mobile
  frontend/src/app/core/components/email-verification-modal/email-verification-modal.component.sass
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.html
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.sass
  frontend/src/app/core/components/registration-warning/registration-warning.component.sass
  frontend/src/app/core/components/sign-in/sign-in.component.html
  frontend/src/app/core/components/sign-in/sign-in.component.sass
  frontend/src/app/core/components/sign-up/sign-up.component.html
  frontend/src/app/core/components/sign-up/sign-up.component.sass
Labels: bugfix, frontend

#326 Fix/schedule run build
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/HostedServices/QuartzHostedService.cs
  backend/buildeR.BLL/Factories/JobFactory.cs
  backend/buildeR.BLL/QuartzJobs/PrintToConsoleJob.cs
  backend/buildeR.BLL/QuartzJobs/RunBuildJob.cs
  backend/buildeR.BLL/Services/QuartzService.cs
  frontend/src/app/modules/project/project-build-history/project-build-history.component.html
  frontend/src/app/modules/project/project-build/project-build.component.html
  frontend/src/app/modules/project/project-build/project-build.component.ts
Labels: backend, bugfix

#332 fixed default autoscroll
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.html
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.ts
Labels: frontend

#333 fixed charts private/public behavior
  frontend/src/app/modules/user/insights/insights.component.ts
Labels: frontend

#338 fix group permissions and grop list page
  frontend/src/app/modules/group/group-list/group-list.component.html
  frontend/src/app/modules/group/group-list/group-list.component.sass
  frontend/src/app/modules/group/group-list/group-list.component.ts
  frontend/src/app/modules/group/group-settings/group-settings.component.html
  frontend/src/app/modules/group/group-settings/group-settings.component.ts
  frontend/src/app/modules/group/group/group.component.ts
Labels: bugfix, frontend

#337 Fix cancel button on the admin requests page
  frontend/src/app/modules/admin-area/requests/requests-modal.component/requests-modal.component.html
  frontend/src/app/modules/admin-area/requests/requests-modal.component/requests-modal.component.ts
  frontend/src/app/modules/admin-area/requests/requests.component.ts
Labels: frontend

#340 Some github synchronization enhancement
  backend/buildeR.BLL/Services/BuildOperationsService.cs
  backend/buildeR.BLL/Services/WebhooksHandler.cs
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
Labels: backend, enhancement

#346 Fix previous role on the group members page
  frontend/src/app/modules/group/group-members/group-members.component.html
  frontend/src/app/modules/group/group-members/group-members.component.ts
Labels: frontend

#345 add notification when group is deleted
  backend/buildeR.API/Controllers/GroupsController.cs
  backend/buildeR.BLL/Interfaces/IGroupService.cs
  backend/buildeR.BLL/Services/GroupService.cs
  backend/buildeR.Common/DTO/Group/RemoveGroupDTO.cs
  frontend/src/app/core/services/group.service.ts
  frontend/src/app/modules/group/group-list/group-list.component.ts
  frontend/src/app/shared/models/group/remove-group.ts
Labels: backend, frontend

#349 Fix placeholders on the dashboard
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
Labels: bugfix, frontend

#350 Fix/when build is triggered by scheduler
  backend/buildeR.BLL/QuartzJobs/RunBuildJob.cs
  frontend/src/app/modules/project/project-build-history/project-build-history.component.html
  frontend/src/app/modules/project/project-build-history/project-build-history.component.sass
  frontend/src/app/modules/project/project-build-history/project-build-history.component.ts
  frontend/src/app/modules/project/project-build/project-build.component.html
  frontend/src/app/modules/project/project-build/project-build.component.sass
  frontend/src/app/modules/project/project-build/project-build.component.ts
Labels: bug, bugfix, frontend

#351 Fix/when build is triggered by scheduler
  backend/buildeR.BLL/QuartzJobs/RunBuildJob.cs
  backend/buildeR.BLL/Services/Abstract/IProjectService.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
Labels: backend, bugfix

#352 deleted project owner from StartBuild
  backend/buildeR.BLL/QuartzJobs/RunBuildJob.cs
Labels: backend, bug

#355 Fix placeholder and search user
  frontend/src/app/modules/group/group-members/group-members.component.ts
  frontend/src/app/modules/group/group-projects/group-projects.component.html
Labels: bugfix, frontend

#356 some fix to build history page style
  frontend/src/app/modules/project/project-build-history/project-build-history.component.sass
Labels: bugfix, frontend

#358 Fix invite
  backend/buildeR.Common/DTO/User/UserDTO.cs
Labels: backend, bug

#360 try to fix time zone
  frontend/src/app/modules/project/project-build/project-build.component.html
Labels: bugfix, frontend

#361 add dropdown menu collapse landing page
  frontend/src/app/modules/landing-page/landing-page.component.html
Labels: bug, frontend

#362 try to fix time zone
  frontend/src/app/modules/project/project-build/project-build.component.html
Labels: bugfix

#363 try to fix time zone
  frontend/src/app/modules/project/project-build/project-build.component.html
Labels: bugfix

#364 fix login/register
  backend/buildeR.BLL/Services/UserService.cs
  frontend/src/app/core/services/firebase-sign-in.service.ts
Labels: backend, bug, frontend

#365 try to fix time zone
  frontend/src/app/modules/project/project-build/project-build.component.html
  frontend/src/app/shared/components/build-history-card/build-history-card.component.html
Labels: bugfix

#366 fix time in build history
  frontend/src/app/modules/project/project-build/project-build.component.html
  frontend/src/app/shared/components/build-history-card/build-history-card.component.html
  frontend/src/app/shared/pipes/date-ago.pipe.ts
Labels: bugfix

#367 Fix/time zone
  frontend/src/app/modules/group/group-chat/group-chat.component.html
  frontend/src/app/modules/work-space/notifications-block/notification-card/notification-card.component.html
Labels: bugfix

#369 Fix/time zone
  frontend/src/app/modules/group/group-chat/group-chat.component.html
  frontend/src/app/modules/group/group-chat/group-chat.component.ts
Labels: bugfix
