Repository BinaryStudioAcademy/bsa-2020-buildeR, pull requests merged in 2020-08, with the labels that each got.

#3 added ng-bootstrap
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/polyfills.ts
  frontend/src/styles/index.sass
Labels: frontend

#4 generic http service and error-interceptor
  frontend/src/app/app.module.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/interceptors/error.interceptor.service.ts
  frontend/src/app/core/services/api.service.spec.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/core/services/http.service.ts
  frontend/src/environments/environment.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.base.json
  frontend/tsconfig.spec.json
Labels: frontend

#8 Feature modal service v2
  frontend/package-lock.json
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/components/modal-content/modal-content.component.html
  frontend/src/app/components/modal-content/modal-content.component.sass
  frontend/src/app/components/modal-content/modal-content.component.spec.ts
  frontend/src/app/components/modal-content/modal-content.component.ts
  frontend/src/app/components/test/test.component.html
  frontend/src/app/components/test/test.component.sass
  frontend/src/app/components/test/test.component.spec.ts
  frontend/src/app/components/test/test.component.ts
  frontend/src/app/services/modal.service.spec.ts
  frontend/src/app/services/modal.service.ts
Labels: frontend

#6 DAL architecture
  backend/buildeR.API/Controllers/UsersController.cs
  backend/buildeR.API/Controllers/WeatherForecastController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/Properties/launchSettings.json
  backend/buildeR.API/Startup.cs
  backend/buildeR.API/WeatherForecast.cs
  backend/buildeR.API/appsettings.json
  backend/buildeR.API/buildeR.API.csproj
  backend/buildeR.BLL/Class1.cs
  backend/buildeR.BLL/Interfaces/IUserService.cs
  backend/buildeR.BLL/Services/UserService.cs
  backend/buildeR.BLL/buildeR.BLL.csproj
  backend/buildeR.DAL/Class1.cs
  backend/buildeR.DAL/Context/BuilderContext.cs
  backend/buildeR.DAL/Context/EntityConfigurations/UserConfig.cs
  backend/buildeR.DAL/Context/ModelBuilderExtensions.cs
  backend/buildeR.DAL/Entities/Common/Entity.cs
  backend/buildeR.DAL/Entities/User.cs
  backend/buildeR.DAL/Migrations/20200805110746_init.Designer.cs
  backend/buildeR.DAL/Migrations/20200805110746_init.cs
  backend/buildeR.DAL/Migrations/BuilderContextModelSnapshot.cs
  backend/buildeR.DAL/buildeR.DAL.csproj
Labels: backend, enhancement

#12 create dash-board component
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/core/guards/auth.guard.spec.ts
  frontend/src/app/core/guards/auth.guard.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/app/modules/work-space/dashboard/dashboard.component.spec.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/app/modules/work-space/work-space-routing.module.ts
  frontend/src/app/modules/work-space/work-space.module.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.spec.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/index.html
Labels: frontend

#14 Made header visible on scroll
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/shell/landing-page/landing-page.component.sass
Labels: enhancement, frontend

#18 fixing bugs with database
  backend/buildeR.API/Startup.cs
  backend/buildeR.DAL/Context/ModelBuilderExtensions.cs
  backend/buildeR.DAL/Migrations/BuilderContextModelSnapshot.cs
Labels: backend, bug

#22 Fix a typo in secret serivce.
  backend/buildeR.BLL/Services/SecretService.cs
Labels: backend, vault

#21 Added fluent validation
  backend/buildeR.API/Controllers/UsersController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/Startup.cs
  backend/buildeR.API/buildeR.API.csproj
  backend/buildeR.BLL/Interfaces/IUserService.cs
  backend/buildeR.BLL/Services/UserService.cs
  backend/buildeR.Common/FluentValidatiors/UserValidator.cs
  backend/buildeR.Common/buildeR.Common.csproj
Labels: backend, enhancement

#15 Frontend signin signup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/sign-in/sign-in.component.html
  frontend/src/app/components/sign-in/sign-in.component.sass
  frontend/src/app/components/sign-in/sign-in.component.spec.ts
  frontend/src/app/components/sign-in/sign-in.component.ts
  frontend/src/app/components/sign-up/sign-up.component.html
  frontend/src/app/components/sign-up/sign-up.component.sass
  frontend/src/app/components/sign-up/sign-up.component.spec.ts
  frontend/src/app/components/sign-up/sign-up.component.ts
  frontend/src/app/shell/landing-page/landing-page.component.html
  frontend/src/app/shell/landing-page/landing-page.component.ts
  frontend/src/styles/index.sass
  package-lock.json
Labels: frontend

#23 Feature/user settings v2
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/services/http.service.ts
  frontend/src/app/models/user.ts
  frontend/src/app/modules/settings/settings-routing.module.ts
  frontend/src/app/modules/settings/settings.component.html
  frontend/src/app/modules/settings/settings.component.sass
  frontend/src/app/modules/settings/settings.component.spec.ts
  frontend/src/app/modules/settings/settings.component.ts
  frontend/src/app/modules/settings/settings.module.ts
  frontend/src/app/modules/settings/user-settings/user-settings.component.html
  frontend/src/app/modules/settings/user-settings/user-settings.component.sass
  frontend/src/app/modules/settings/user-settings/user-settings.component.spec.ts
  frontend/src/app/modules/settings/user-settings/user-settings.component.ts
  frontend/src/app/modules/work-space/work-space-routing.module.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/services/user-settings.service.spec.ts
  frontend/src/app/services/user-settings.service.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/assets/images/Avatar-default.png
Labels: frontend

#13 RabbitMQ implemented
  backend/buildeR.API/Startup.cs
  backend/buildeR.RabbitMQ/Interfaces/IConsumer.cs
  backend/buildeR.RabbitMQ/Interfaces/IProducer.cs
  backend/buildeR.RabbitMQ/Interfaces/IProducerConsumerWrapper.cs
  backend/buildeR.RabbitMQ/Interfaces/IQueue.cs
  backend/buildeR.RabbitMQ/Models/ConnectionFactorySettings.cs
  backend/buildeR.RabbitMQ/Models/QueueSettings.cs
  backend/buildeR.RabbitMQ/Realization/Consumer.cs
  backend/buildeR.RabbitMQ/Realization/OwnConnectionFactory.cs
  backend/buildeR.RabbitMQ/Realization/Producer.cs
  backend/buildeR.RabbitMQ/Realization/ProducerConsumerWrapper.cs
  backend/buildeR.RabbitMQ/Realization/QueueService.cs
  backend/buildeR.RabbitMQ/buildeR.RabbitMq.csproj
  backend/buildeR.sln
Labels: backend

#24 Added animated title
  .gitignore
  frontend/src/app/shell/landing-page/landing-page.component.html
  frontend/src/app/shell/landing-page/landing-page.component.sass
Labels: enhancement, frontend

#26 Feature/project list component
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.BLL/MappingProfiles/ProjectProfile.cs
  backend/buildeR.BLL/Services/Abstract/IProjectService.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  backend/buildeR.Common/DTO/Project/ProjectInfoDTO.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/modules/work-space/base/base.component.html
  frontend/src/app/modules/work-space/base/base.component.sass
  frontend/src/app/modules/work-space/base/base.component.spec.ts
  frontend/src/app/modules/work-space/base/base.component.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/app/modules/work-space/work-space-routing.module.ts
  frontend/src/app/modules/work-space/work-space.module.ts
  frontend/src/app/shared/directives/build-status-color.directive.ts
  frontend/src/app/shared/directives/build-status-icon.directive.ts
  frontend/src/app/shared/models/build-history.ts
  frontend/src/app/shared/models/build-status-color.ts
  frontend/src/app/shared/models/build-status.ts
  frontend/src/app/shared/models/project-info.ts
  frontend/src/app/shared/models/user.ts
  frontend/src/app/shared/pipes/build-status.pipe.ts
  frontend/src/app/shared/pipes/date-ago.pipe.ts
  frontend/src/app/shared/shared.module.ts
Labels: backend, frontend

#29 Feature email service
  README.md
  backend/buildeR.API/Controllers/UsersController.cs
  backend/buildeR.API/Properties/launchSettings.json
  backend/buildeR.Common/DTO/EmailModel.cs
  backend/buildeR.Common/Interfaces/IEmailService.cs
  backend/buildeR.Common/Properties/launchSettings.json
  backend/buildeR.Common/Services/EmailService.cs
  backend/buildeR.Common/buildeR.Common.csproj
Labels: backend

#30 Integrate cron component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/shared/components/cron-builder/cron-builder.component.html
  frontend/src/app/shared/components/cron-builder/cron-builder.component.sass
  frontend/src/app/shared/components/cron-builder/cron-builder.component.spec.ts
  frontend/src/app/shared/components/cron-builder/cron-builder.component.ts
  frontend/src/app/shared/shared.module.ts
Labels: frontend

#31 email template
  backend/buildeR.Common/DTO/EmailModel.cs
  backend/buildeR.Common/Interfaces/IEmailBuilder.cs
  backend/buildeR.Common/Interfaces/IEmailService.cs
  backend/buildeR.Common/Services/EmailBuilder.cs
  backend/buildeR.Common/Services/EmailService.cs
Labels: backend, frontend

#34 Feature/project detailst component(backend)
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.BLL/Exceptions/ForbiddenExeption.cs
  backend/buildeR.BLL/Services/Abstract/BaseCrudService.cs
  backend/buildeR.BLL/Services/Abstract/IProjectService.cs
  backend/buildeR.BLL/Services/ProjectService.cs
Labels: backend

#42 correction html and css
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.sass
  frontend/src/app/modules/project/project-settings/project-settings.component.html
  frontend/src/app/modules/project/project-settings/project-settings.component.sass
Labels: frontend

#41 add logo to header and change styles
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/assets/images/logo.png
Labels: frontend

#43 Fix bug with api/ endpoint
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/core/services/user-settings.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/environments/environment.ts
Labels: bug, frontend

#36 Feature/not found page
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/resolvers/project-resolver.service.spec.ts
  frontend/src/app/core/resolvers/project-resolver.service.ts
  frontend/src/app/modules/project/project-routing.module.ts
  frontend/src/app/modules/project/project-settings/project-settings.component.ts
  frontend/src/app/modules/project/project.component.ts
  frontend/src/app/modules/project/project.module.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/app/modules/work-space/work-space-routing.module.ts
  frontend/src/app/shared/components/not-found/not-found.component.html
  frontend/src/app/shared/components/not-found/not-found.component.sass
  frontend/src/app/shared/components/not-found/not-found.component.spec.ts
  frontend/src/app/shared/components/not-found/not-found.component.ts
  frontend/src/app/shared/shared.module.ts
Labels: frontend

#49 change position of avatar
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
Labels: frontend

#45 Feature/create login register
  backend/buildeR.API/Controllers/UsersController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/Startup.cs
  backend/buildeR.API/appsettings.json
  backend/buildeR.API/buildeR.API.csproj
  backend/buildeR.BLL/Interfaces/IUserService.cs
  backend/buildeR.BLL/Services/UserService.cs
  backend/buildeR.Common/DTO/User/NewUserDTO.cs
  backend/buildeR.Common/DTO/UserSocialNetwork/NewUserSocialNetworkDTO.cs
  backend/buildeR.Common/DTO/UserSocialNetwork/UserSocialNetworkDTO.cs
  backend/buildeR.Common/Enums/Provider.cs
  backend/buildeR.DAL/Context/ModelBuilderExtensions.cs
  backend/buildeR.DAL/Entities/UserSocialNetwork.cs
  backend/buildeR.DAL/Migrations/20200811122806_AddUidToUserSocialNetwork.Designer.cs
  backend/buildeR.DAL/Migrations/20200811122806_AddUidToUserSocialNetwork.cs
  backend/buildeR.DAL/Migrations/20200811174303_AddDataToSocialNetworks.Designer.cs
  backend/buildeR.DAL/Migrations/20200811174303_AddDataToSocialNetworks.cs
  backend/buildeR.DAL/Migrations/BuilderContextModelSnapshot.cs
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/components/landing-page/landing-page.component.ts
  frontend/src/app/core/components/sign-in/sign-in.component.html
  frontend/src/app/core/components/sign-in/sign-in.component.ts
  frontend/src/app/core/components/sign-up/sign-up.component.html
  frontend/src/app/core/components/sign-up/sign-up.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/guards/auth.guard.ts
  frontend/src/app/core/interceptors/auth-interceptor.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/http.service.ts
  frontend/src/app/core/services/user-settings.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/app/shared/models/build-history.ts
  frontend/src/app/shared/models/current-user.ts
  frontend/src/app/shared/models/project-info.ts
  frontend/src/app/shared/models/project/project.ts
  frontend/src/app/shared/models/providers.ts
  frontend/src/app/shared/models/user/new-user.ts
  frontend/src/app/shared/models/user/user.ts
  frontend/src/environments/firebase.config.ts
Labels: backend, frontend

#52 Implement automatic database migration
  backend/buildeR.API/Startup.cs
Labels: backend, database

#53 Feature/notifications block
  frontend/src/app/core/components/landing-page/landing-page.component.html
  frontend/src/app/core/components/landing-page/landing-page.component.sass
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.html
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.ts
  frontend/src/app/modules/work-space/work-space.module.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.ts
  frontend/src/app/shared/models/notification-type.ts
  frontend/src/app/shared/models/notification.ts
Labels: frontend

#56 Add image to empty dashboard
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
Labels: frontend

#57 Feature crud operations
  backend/buildeR.API/Controllers/BuildStepsController.cs
  backend/buildeR.API/Controllers/BuildsController.cs
  backend/buildeR.API/Controllers/GroupsController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/Middleware/GenericExceptionHandlerMiddleware.cs
  backend/buildeR.BLL/Interfaces/IBuildService.cs
  backend/buildeR.BLL/Interfaces/IBuildStepService.cs
  backend/buildeR.BLL/Interfaces/IGroupService.cs
  backend/buildeR.BLL/Services/BuildService.cs
  backend/buildeR.BLL/Services/BuildStepService.cs
  backend/buildeR.BLL/Services/GroupService.cs
Labels: backend

#55 Feature/registaration modal after signup
  backend/buildeR.API/Controllers/AuthController.cs
  backend/buildeR.API/Startup.cs
  backend/buildeR.Common/DTO/User/UserDTO.cs
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.html
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.sass
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.ts
  frontend/src/app/core/components/sign-in/sign-in.component.html
  frontend/src/app/core/components/sign-in/sign-in.component.ts
  frontend/src/app/core/components/sign-up/sign-up.component.html
  frontend/src/app/core/components/sign-up/sign-up.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/authentication.service.ts
Labels: frontend

#54 Feature/image cropper
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/services/modal-cropper.service.spec.ts
  frontend/src/app/core/services/modal-cropper.service.ts
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.html
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.sass
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.spec.ts
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
  frontend/src/app/modules/user/user.module.ts
Labels: frontend

#64 fixed validator
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.html
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.ts
Labels: bugfix, frontend

#62 fixed anchor
  frontend/src/app/core/components/landing-page/landing-page.component.html
  frontend/src/app/core/components/landing-page/landing-page.component.sass
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
Labels: bugfix, frontend

#59 added url image upload
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
Labels: frontend

#63 Feature/main processor logic
  backend/buildeR.BLL/MappingProfiles/BuildStepProfile.cs
  backend/buildeR.Common/DTO/BuildPlugin/BuildPluginDTO.cs
  backend/buildeR.Common/DTO/BuildPlugin/NewBuildPluginDTO.cs
  backend/buildeR.Common/DTO/BuildStep/ExecutiveBuildStepDTO.cs
  backend/buildeR.Common/DTO/PluginCommand/NewPluginCommandDTO.cs
  backend/buildeR.Common/DTO/PluginCommand/PluginCommandDTO.cs
  backend/buildeR.DAL/Entities/BuildPlugin.cs
  backend/buildeR.DAL/Entities/BuildStep.cs
  backend/buildeR.DAL/Entities/PluginCommand.cs
  backend/buildeR.DAL/Migrations/20200813074437_AddPropsForWorkWithDocker.Designer.cs
  backend/buildeR.DAL/Migrations/20200813074437_AddPropsForWorkWithDocker.cs
  backend/buildeR.DAL/Migrations/BuilderContextModelSnapshot.cs
  backend/buildeR.Processor/Extensions/ApplicationBuilderExtentions.cs
  backend/buildeR.Processor/Services/ProcessorService.cs
  backend/buildeR.Processor/buildeR.Processor.csproj
Labels: backend

#60 Feature/registration improvement
  backend/buildeR.API/Controllers/UsersController.cs
  frontend/src/app/core/components/landing-page/landing-page.component.ts
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.html
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/shared/models/current-user.ts
Labels: bugfix, frontend

#61 Hotfix/notification tab display
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
Labels: bugfix

#58 Feature/quartz
  backend/buildeR.API/Controllers/QuartzController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/Startup.cs
  backend/buildeR.API/appsettings.json
  backend/buildeR.API/buildeR.API.csproj
  backend/buildeR.BLL/Interfaces/IQuartzService.cs
  backend/buildeR.BLL/QuartzJobs/PrintToConsoleJob.cs
  backend/buildeR.BLL/Services/QuartzService.cs
  backend/buildeR.BLL/buildeR.BLL.csproj
  backend/buildeR.Common/DTO/Quartz/QuartzDTO.cs
  backend/buildeR.Common/DTO/Quartz/QuartzInfoDTO.cs
  backend/buildeR.DAL/Context/BuilderContext.cs
  backend/buildeR.DAL/Context/QuartzDBContext.cs
  backend/buildeR.DAL/Migrations/QuartzDB/20200812135922_RunSqlScript.Designer.cs
  backend/buildeR.DAL/Migrations/QuartzDB/20200812135922_RunSqlScript.cs
  backend/buildeR.DAL/Migrations/QuartzDB/QuartzDBContextModelSnapshot.cs
  backend/buildeR.DAL/QuartzSqlScript.sql
  backend/buildeR.DAL/buildeR.DAL.csproj
Labels: backend

#68 Bag/can not create project
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  frontend/src/app/modules/project/project-create/project-create.component.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/app/shared/models/project/new-project.ts
Labels: backend, bug, bugfix, frontend

#67 Added fluent validation for api input models
  backend/buildeR.API/Startup.cs
  backend/buildeR.Common/FluentValidatiors/UserValidator.cs
  backend/buildeR.Common/FluentValidators/Group/GroupDtoValidator.cs
  backend/buildeR.Common/FluentValidators/Group/GroupSharedRules.cs
  backend/buildeR.Common/FluentValidators/Group/NewGroupDtoValidator.cs
  backend/buildeR.Common/FluentValidators/Project/NewProjectDtoValidator.cs
  backend/buildeR.Common/FluentValidators/Project/ProjectDtoValidator.cs
  backend/buildeR.Common/FluentValidators/Project/ProjectInfoDtoValidator.cs
  backend/buildeR.Common/FluentValidators/Project/ProjectSharedRules.cs
  backend/buildeR.Common/FluentValidators/Shared/NoDigitRule.cs
  backend/buildeR.Common/FluentValidators/Shared/SpecialCharactersRules.cs
  backend/buildeR.Common/FluentValidators/User/NewUserDtoValidator.cs
  backend/buildeR.Common/FluentValidators/User/UserDtoValidator.cs
  backend/buildeR.Common/FluentValidators/User/UserSharedRules.cs
Labels: backend

#69 Feature/trigger in project details(frontend)
  frontend/src/app/core/services/trigger.service.spec.ts
  frontend/src/app/core/services/trigger.service.ts
  frontend/src/app/modules/project/project-details/project-details.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.sass
  frontend/src/app/modules/project/project-triggers/project-triggers.component.spec.ts
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
  frontend/src/app/modules/project/project.module.ts
  frontend/src/app/shared/components/cron-builder/cron-builder.component.html
  frontend/src/app/shared/components/cron-builder/cron-builder.component.sass
  frontend/src/app/shared/components/cron-builder/cron-builder.component.ts
  frontend/src/app/shared/models/project/new-project-trigger.ts
  frontend/src/app/shared/models/project/project-trigger.ts
  frontend/src/app/shared/shared.module.ts
Labels: frontend

#70 Fixed regex error in backend validation
  backend/buildeR.Common/FluentValidators/Shared/EmailRule.cs
  backend/buildeR.Common/FluentValidators/Shared/SpecialCharactersRules.cs
  backend/buildeR.Common/FluentValidators/User/NewUserDtoValidator.cs
  backend/buildeR.Common/FluentValidators/User/UserDtoValidator.cs
  backend/buildeR.Common/FluentValidators/User/UserSharedRules.cs
Labels: backend, bugfix

#72 Feature/main processor logic
  backend/buildeR.Processor/Properties/launchSettings.json
  backend/buildeR.Processor/Services/ProcessorService.cs
Labels: backend

#78 Feature/processor logs
  backend/buildeR.Processor/Services/ProcessorService.cs
Labels: backend

#77 Feature/registration improvement
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.html
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.sass
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.ts
  frontend/src/app/core/services/authentication.service.ts
Labels: frontend

#79 updated styles of regiter form
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.html
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.sass
Labels: frontend

#80 Fix tabs selection
  frontend/src/app/modules/project/project.component.html
  frontend/src/app/modules/project/project.component.ts
  frontend/src/app/shared/components/not-found/not-found.component.html
  frontend/src/app/shared/shared.module.ts
Labels: frontend

#82 fix bug with creation date in user settings
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/shared/models/user/user.ts
Labels: frontend

#84 fixed display of notifications in user settings
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
  frontend/src/app/modules/user/user.component.html
  frontend/src/app/modules/user/user.component.sass
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
Labels: bugfix

#86 chenge big input checkbox to switch
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.sass
Labels: bugfix, frontend

#85 Feature/triggers(frontend)
  backend/buildeR.API/Controllers/QuartzController.cs
  backend/buildeR.API/Controllers/TriggersController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/Startup.cs
  backend/buildeR.BLL/Interfaces/IQuartzService.cs
  backend/buildeR.BLL/Interfaces/ITriggerService.cs
  backend/buildeR.BLL/MappingProfiles/ProjectTriggerProfile.cs
  backend/buildeR.BLL/Services/QuartzService.cs
  backend/buildeR.BLL/Services/TriggerService.cs
  backend/buildeR.Common/DTO/ProjectTrigger/NewProjectTriggerDTO.cs
  backend/buildeR.Common/DTO/ProjectTrigger/ProjectTriggerDTO.cs
  backend/buildeR.Common/DTO/ProjectTrigger/ProjectTriggerInfoDTO.cs
  backend/buildeR.Common/DTO/Quartz/QuartzDTO.cs
  backend/buildeR.Common/DTO/Quartz/QuartzInfoDTO.cs
  frontend/src/app/core/services/trigger.service.ts
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.sass
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
  frontend/src/app/shared/components/cron-builder/cron-builder.component.html
  frontend/src/app/shared/components/cron-builder/cron-builder.component.sass
  frontend/src/app/shared/components/cron-builder/cron-builder.component.ts
  frontend/src/app/shared/models/project/project-trigger/new-project-trigger.ts
  frontend/src/app/shared/models/project/project-trigger/project-trigger-info.ts
  frontend/src/app/shared/models/project/project-trigger/project-trigger.ts
  frontend/src/app/shared/models/project/project-trigger/update-trigger-cron.ts
  frontend/src/app/shared/models/project/project.ts
Labels: frontend

#89 Hotfix/fix circle dependency register modal
  frontend/src/app/core/components/landing-page/landing-page.component.html
  frontend/src/app/core/components/sign-in/sign-in.component.ts
  frontend/src/app/core/components/sign-up/sign-up.component.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/firebase-sign-in.service.ts
  frontend/src/app/core/services/register-dialog.service.ts
Labels: bugfix, frontend

#91 Future/fix to remarks triggers(frontend)
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
  frontend/src/app/shared/components/cron-builder/cron-builder.component.html
  frontend/src/app/shared/components/cron-builder/cron-builder.component.ts
Labels: bugfix, frontend

#93 Bugfix/updating user photo
  frontend/src/app/core/services/modal-cropper.service.ts
  frontend/src/app/core/services/user-settings.service.spec.ts
  frontend/src/app/core/services/user-settings.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.html
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.ts
Labels: bugfix, frontend

#95 Future/fix to remarks triggers(frontend)
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/shared/components/cron-builder/cron-builder.component.html
Labels: bugfix, frontend

#98 Change empty projects page logo
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
Labels: frontend

#92 Implement synchronizaztion with github account
  backend/buildeR.API/Controllers/SynchronizationController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/Startup.cs
  backend/buildeR.BLL/Interfaces/IGithubClient.cs
  backend/buildeR.BLL/Interfaces/ISynchronizationService.cs
  backend/buildeR.BLL/Services/GithubClient.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  backend/buildeR.BLL/Services/SynchronizationService.cs
  backend/buildeR.BLL/Services/UserService.cs
  backend/buildeR.BLL/buildeR.BLL.csproj
  backend/buildeR.Common/DTO/Project/NewProjectDTO.cs
  backend/buildeR.Common/DTO/Project/ProjectDTO.cs
  backend/buildeR.Common/DTO/Synchronization/Github/GithubBranch.cs
  backend/buildeR.Common/DTO/Synchronization/Github/GithubRepository.cs
  backend/buildeR.Common/DTO/Synchronization/Github/GithubUser.cs
  backend/buildeR.Common/DTO/Synchronization/Repository.cs
  backend/buildeR.Common/DTO/User/NewUserDTO.cs
  backend/buildeR.DAL/Context/ModelBuilderExtensions.cs
  backend/buildeR.DAL/Entities/Project.cs
  backend/buildeR.DAL/Entities/UserSocialNetwork.cs
  backend/buildeR.DAL/Migrations/20200817123952_RenameProjectRepositoryUrlToRepository.Designer.cs
  backend/buildeR.DAL/Migrations/20200817123952_RenameProjectRepositoryUrlToRepository.cs
  backend/buildeR.DAL/Migrations/BuilderContextModelSnapshot.cs
  frontend/src/app/core/models/Repository.ts
  frontend/src/app/core/models/SynchronizedUser.ts
  frontend/src/app/core/services/firebase-sign-in.service.ts
  frontend/src/app/core/services/http.service.ts
  frontend/src/app/core/services/register-dialog.service.ts
  frontend/src/app/core/services/synchronization.service.ts
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.sass
  frontend/src/app/modules/project/project-create/project-create.component.ts
  frontend/src/app/modules/project/project.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/app/shared/models/project/new-project.ts
  frontend/src/app/shared/models/project/project.ts
  frontend/src/app/shared/models/user/new-user.ts
Labels: backend, frontend

#96 Feature/make username unique
  backend/buildeR.API/Controllers/UsersController.cs
  backend/buildeR.BLL/Interfaces/IUserService.cs
  backend/buildeR.BLL/Services/UserService.cs
  backend/buildeR.Common/DTO/User/ValidateUserDTO.cs
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.html
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/core/validators/custom-async-validator.ts
  frontend/src/app/shared/models/user/validate-user.ts
Labels: backend, frontend

#94 Feature/logs to frontend
  backend/buildeR.Common/DTO/ProjectLog.cs
  backend/buildeR.Kafka/KafkaConsumer.cs
  backend/buildeR.Kafka/KafkaProducer.cs
  backend/buildeR.Kafka/buildeR.Kafka.csproj
  backend/buildeR.Processor/Extensions/ServiceExtensions.cs
  backend/buildeR.Processor/Properties/launchSettings.json
  backend/buildeR.Processor/Services/ProcessorService.cs
  backend/buildeR.Processor/Startup.cs
  backend/buildeR.Processor/appsettings.json
  backend/buildeR.Processor/buildeR.Processor.csproj
  backend/buildeR.SignalR/BackgroundWorker.cs
  backend/buildeR.SignalR/Hubs/LogsHub.cs
  backend/buildeR.SignalR/Startup.cs
  backend/buildeR.SignalR/appsettings.json
  backend/buildeR.SignalR/buildeR.SignalR.csproj
  backend/buildeR.sln
  frontend/src/app/core/services/projects-logs.service.ts
  frontend/src/app/modules/project/logging-terminal/logging-terminal.component.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
Labels: backend

#97 Feature/signup email
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/appsettings.Development.json
  backend/buildeR.API/appsettings.Production.json
  backend/buildeR.BLL/Services/UserService.cs
  backend/buildeR.Common/Interfaces/IEmailBuilder.cs
  backend/buildeR.Common/Interfaces/IEmailService.cs
  backend/buildeR.Common/Services/EmailBuilder.cs
  backend/buildeR.Common/Services/EmailService.cs
  backend/buildeR.Common/buildeR.Common.csproj
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/work-space-routing.module.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
Labels: backend, frontend

#99 Feature/mark project favorite
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.BLL/Services/Abstract/IProjectService.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  backend/buildeR.Common/DTO/Project/ProjectDTO.cs
  backend/buildeR.Common/DTO/Project/ProjectInfoDTO.cs
  backend/buildeR.DAL/Entities/Project.cs
  backend/buildeR.DAL/Migrations/20200817072740_AddIsFavouriteToProject.Designer.cs
  backend/buildeR.DAL/Migrations/20200817072740_AddIsFavouriteToProject.cs
  backend/buildeR.DAL/Migrations/BuilderContextModelSnapshot.cs
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/app/shared/models/project-info.ts
  frontend/src/app/shared/models/project/project.ts
Labels: backend, database, frontend

#100 Fix router links in the dashboard
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
Labels: bugfix, frontend

#101 Change landing header
  frontend/src/app/core/components/landing-page/landing-page.component.html
  frontend/src/app/core/components/landing-page/landing-page.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
Labels: frontend

#102 Feature/preloader for projects
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
Labels: bugfix, frontend

#104 remove required tag
  frontend/src/app/modules/project/project-create/project-create.component.html
Labels: bugfix, frontend

#103 Feature/refresh token
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.html
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/interceptors/auth-interceptor.ts
  frontend/src/app/core/interceptors/token-interceptor.service.ts
  frontend/src/app/core/services/authentication.service.ts
Labels: frontend

#105 Implement github hooks
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.API/Controllers/SynchronizationController.cs
  backend/buildeR.API/Controllers/WebhooksController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.BLL/Interfaces/IBuildOperationsService.cs
  backend/buildeR.BLL/Interfaces/IGithubClient.cs
  backend/buildeR.BLL/Interfaces/ISynchronizationService.cs
  backend/buildeR.BLL/Services/BuildOperationsService.cs
  backend/buildeR.BLL/Services/GithubClient.cs
  backend/buildeR.BLL/Services/SynchronizationService.cs
  backend/buildeR.Common/DTO/Webhooks/Github/NewWebhook/NewGithubWebhookConfigDTO.cs
  backend/buildeR.Common/DTO/Webhooks/Github/NewWebhook/NewGithubWebhookDTO.cs
  backend/buildeR.Common/DTO/Webhooks/Github/PayloadDTO/PushGithubPayloadDTO.cs
  frontend/src/app/core/services/synchronization.service.ts
  frontend/src/app/modules/project/project-create/project-create.component.ts
Labels: backend

#106 Hotfix/avatar highlighting
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
Labels: bugfix, frontend

#109 change styles for url input
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
Labels: frontend

#112 Github synchronization enhancement
  backend/buildeR.BLL/Services/GithubClient.cs
  backend/buildeR.BLL/Services/SynchronizationService.cs
  backend/buildeR.Common/DTO/Synchronization/Github/GithubRepository.cs
  backend/buildeR.Common/DTO/Synchronization/Repository.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/models/Repository.ts
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.sass
  frontend/src/app/modules/project/project.module.ts
Labels: backend, enhancement, frontend

#114 Fix scroll on user-settings page
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
  frontend/src/app/modules/user/user.component.html
  frontend/src/app/modules/user/user.component.sass
Labels: frontend

#118 Finish work with github webhooks
  backend/buildeR.API/Controllers/WebhooksController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.BLL/Interfaces/IWebhooksHandler.cs
  backend/buildeR.BLL/Services/WebhooksHandler.cs
Labels: backend, enhancement

#120 Make Trigger button vertical-centered and add left distance for star …
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
Labels: bugfix, frontend

#119 Hotfix/display email registration
  backend/buildeR.API/Controllers/UsersController.cs
  backend/buildeR.BLL/Interfaces/IUserService.cs
  backend/buildeR.BLL/Services/UserService.cs
  backend/buildeR.Common/DTO/User/LinkProviderDTO.cs
  backend/buildeR.Common/Enums/UserRole.cs
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.ts
  frontend/src/app/core/components/registration-warning/registration-warning.component.html
  frontend/src/app/core/components/registration-warning/registration-warning.component.sass
  frontend/src/app/core/components/registration-warning/registration-warning.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/firebase-sign-in.service.ts
  frontend/src/app/core/services/register-dialog.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
  frontend/src/app/modules/user/user.component.html
  frontend/src/app/modules/user/user.component.sass
  frontend/src/app/modules/user/user.component.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/app/shared/components/tabs/tabs.component.sass
  frontend/src/app/shared/models/user/link-provider.ts
  frontend/src/app/shared/models/user/user-social-network.ts
  frontend/src/app/shared/models/user/user.ts
Labels: backend, bugfix

#121 Improved ui of the build history
  frontend/src/app/modules/project/project-build-history/project-build-history.component.sass
  frontend/src/app/modules/project/project-build-history/project-build-history.component.ts
Labels: frontend

#125 Feature/user settings notification(frontend)
  frontend/src/app/core/services/notification-setting.service.ts
  frontend/src/app/modules/user/notification-setting/notification-setting.component.html
  frontend/src/app/modules/user/notification-setting/notification-setting.component.sass
  frontend/src/app/modules/user/notification-setting/notification-setting.component.spec.ts
  frontend/src/app/modules/user/notification-setting/notification-setting.component.ts
  frontend/src/app/modules/user/user-routing.module.ts
  frontend/src/app/modules/user/user.component.ts
  frontend/src/app/modules/user/user.module.ts
  frontend/src/app/shared/models/notification-setting/notification-description.ts
  frontend/src/app/shared/models/notification-setting/notification-setting-type.ts
  frontend/src/app/shared/models/notification-setting/notification-setting.ts
Labels: frontend

#127 Feature/project settings
  frontend/src/app/modules/project/project-settings/project-settings.component.html
  frontend/src/app/modules/project/project-settings/project-settings.component.sass
  frontend/src/app/modules/project/project-settings/project-settings.component.ts
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.sass
  frontend/src/app/shared/models/enviroment-variable.ts
Labels: frontend

#126 Hotfix/add missing pointers
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.html
  frontend/src/app/modules/project/logging-terminal/logging-terminal.component.sass
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.ts
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
Labels: bugfix, frontend

#128 fix "notification setings" by remarks
  frontend/src/app/modules/user/notification-setting/notification-setting.component.html
  frontend/src/app/modules/user/notification-setting/notification-setting.component.sass
  frontend/src/app/modules/user/notification-setting/notification-setting.component.ts
Labels: bugfix, frontend

#130 Made Create Project page appear as a modal
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.ts
  frontend/src/app/modules/project/project.module.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/app/modules/work-space/work-space.module.ts
Labels: frontend

#131 Improvements in project create modal
  frontend/src/app/modules/project/project-create/project-create.component.sass
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
Labels: frontend

#133 Fix/improve triggers ui
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.sass
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
  frontend/src/app/shared/components/cron-builder/cron-builder.component.html
  frontend/src/app/shared/components/cron-builder/cron-builder.component.sass
  frontend/src/app/shared/components/cron-builder/cron-builder.component.ts
Labels: bugfix, frontend

#134 Working on github synchronization
  backend/buildeR.API/Controllers/SynchronizationController.cs
  backend/buildeR.BLL/Interfaces/IGithubClient.cs
  backend/buildeR.BLL/Interfaces/ISynchronizationService.cs
  backend/buildeR.BLL/Services/GithubClient.cs
  backend/buildeR.BLL/Services/SynchronizationService.cs
  backend/buildeR.Common/DTO/Synchronization/Branch.cs
  frontend/.vscode/launch.json
  frontend/src/app/core/models/Branch.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/synchronization.service.ts
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.sass
  frontend/src/app/modules/project/project-create/project-create.component.ts
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
  frontend/src/styles/global.sass
Labels: frontend

#135 Feature/project build steps
  backend/buildeR.API/Controllers/BuildStepsController.cs
  backend/buildeR.BLL/Interfaces/IBuildStepService.cs
  backend/buildeR.BLL/MappingProfiles/BuildStepProfile.cs
  backend/buildeR.BLL/Services/BuildStepService.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  backend/buildeR.Common/DTO/BuildHistory/ExecutiveBuildDTO.cs
  backend/buildeR.Common/DTO/BuildStep/BuildStepDTO.cs
  backend/buildeR.Common/DTO/BuildStep/EmptyBuildStepDTO.cs
  backend/buildeR.Common/DTO/BuildStep/ExecutiveBuildStepDTO.cs
  backend/buildeR.Common/DTO/BuildStep/NewBuildStepDTO.cs
  backend/buildeR.Processor/Services/ProcessorService.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/services/build-step.service.ts
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.html
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.sass
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.spec.ts
  frontend/src/app/modules/project/project-build-steps/project-build-steps.component.ts
  frontend/src/app/modules/project/project-routing.module.ts
  frontend/src/app/modules/project/project.component.ts
  frontend/src/app/modules/project/project.module.ts
  frontend/src/app/shared/models/build-plugin.ts
  frontend/src/app/shared/models/build-step.ts
  frontend/src/app/shared/models/empty-build-step.ts
  frontend/src/app/shared/models/plugin-command.ts
Labels: backend, database, frontend

#136 Hotfix/issue favourite projects
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.ts
Labels: bugfix, frontend

#137 Improved the terminal
  frontend/src/app/modules/project/logging-terminal/logging-terminal.component.html
  frontend/src/app/modules/project/logging-terminal/logging-terminal.component.sass
  frontend/src/app/modules/project/logging-terminal/logging-terminal.component.ts
Labels: frontend

#147 Feature/dockerless processor
  backend/buildeR.Common/DTO/BuildPlugin/BuildPluginDTO.cs
  backend/buildeR.Common/DTO/BuildStep/BuildStepDTO.cs
  backend/buildeR.Common/DTO/BuildStep/EnvVariable.cs
  backend/buildeR.Common/DTO/PluginCommand/Arg.cs
  backend/buildeR.Common/DTO/PluginCommand/PluginCommandDTO.cs
  backend/buildeR.Processor/Services/ProcessorService.cs
Labels: backend, database

#149 Feature/extract spinner component
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/app/shared/components/loading-spinner/loading-spinner.component.html
  frontend/src/app/shared/components/loading-spinner/loading-spinner.component.sass
  frontend/src/app/shared/components/loading-spinner/loading-spinner.component.spec.ts
  frontend/src/app/shared/components/loading-spinner/loading-spinner.component.ts
  frontend/src/app/shared/shared.module.ts
Labels: frontend

#150 Remove redundant spaces
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
Labels: bugfix

#151 Changed tab component
  frontend/src/app/shared/components/tabs/tabs.component.ts
Labels: bugfix, frontend

#152 Added z-index 9999 for notifications-background
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
Labels: bugfix, frontend

#154 Bugfix/projectname changes dinamicly
  backend/buildeR.BLL/MappingProfiles/ProjectProfile.cs
  backend/buildeR.Common/DTO/Project/ProjectDTO.cs
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/modules/project/project-settings/project-settings.component.ts
  frontend/src/app/modules/project/project.component.ts
Labels: bugfix

#155 bugfix/dropdown-menu-navigation
  frontend/src/app/modules/work-space/work-space/work-space.component.html
Labels: bugfix

#160 add checks gitHubIsAccessible
  frontend/src/app/core/services/synchronization.service.ts
  frontend/src/app/modules/project/project-create/project-create.component.ts
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
Labels: bugfix, frontend

#162 Fix styles for copy project
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
  frontend/src/styles/global.sass
Labels: frontend

#165 Bugfix/vault loading
  backend/buildeR.BLL/Services/EnvironmentVariablesService.cs
Labels: bugfix

#166 Feature/processes logs to elk
  backend/buildeR.Processor/Extensions/ServiceExtensions.cs
  backend/buildeR.Processor/Services/ProcessorService.cs
  backend/buildeR.Processor/Startup.cs
  backend/buildeR.Processor/appsettings.json
  backend/buildeR.Processor/buildeR.Processor.csproj
Labels: backend, database

#167 Bugfix/tabs error and notifications block
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
  frontend/src/app/shared/components/tabs/tabs.component.ts
Labels: bugfix, frontend

#169 Add async validator for repository url
  backend/buildeR.API/Controllers/SynchronizationController.cs
  backend/buildeR.BLL/Interfaces/IGithubClient.cs
  backend/buildeR.BLL/Interfaces/ISynchronizationService.cs
  backend/buildeR.BLL/Services/GithubClient.cs
  backend/buildeR.BLL/Services/SynchronizationHelper.cs
  backend/buildeR.BLL/Services/SynchronizationService.cs
  backend/buildeR.Common/DTO/Synchronization/RepositoryLinkDTO.cs
  frontend/src/app/core/services/synchronization.service.ts
  frontend/src/app/core/validators/repo-url.async-validator.ts
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.ts
Labels: backend, enhancement, frontend

#172 Feature/storage provider
  backend/buildeR.API/Controllers/UsersController.cs
  backend/buildeR.API/Resources/Avatars/builder.png
  backend/buildeR.API/Resources/Avatars/logo.png
  backend/buildeR.API/Startup.cs
  backend/buildeR.API/buildeR.API.csproj
  backend/buildeR.BLL/Interfaces/IUserService.cs
  backend/buildeR.BLL/Services/UserService.cs
  backend/buildeR.Common/DTO/User/UserAvatarDTO.cs
  backend/buildeR.Common/buildeR.Common.csproj
  frontend/package-lock.json
  frontend/src/app/core/services/modal-cropper.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
  frontend/src/app/modules/user/user.component.ts
  frontend/src/app/shared/models/user/user-avatar.ts
Labels: backend, frontend

#170 Improved project creating form validation
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.ts
Labels: frontend

#174 Fix/improve triggers ui
  frontend/src/app/core/services/trigger.service.ts
  frontend/src/app/modules/project/project-settings/project-settings.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.sass
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
  frontend/src/app/modules/project/project.module.ts
  frontend/src/app/shared/components/cron-builder/cron-builder.component.html
  frontend/src/app/shared/components/cron-builder/cron-builder.component.sass
  frontend/src/app/shared/components/cron-builder/cron-builder.component.ts
  frontend/src/app/shared/models/project/project-trigger/update-trigger-cron.ts
Labels: frontend

#175 Hotfix/refresh token
  frontend/src/app/core/interceptors/token-interceptor.service.ts
  frontend/src/app/core/services/authentication.service.ts
Labels: bugfix, frontend

#178 Hotfix/add searching username spinner
  frontend/src/app/core/components/registration-dialog/registration-dialog.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
  frontend/src/app/shared/components/loading-spinner/loading-spinner.component.html
  frontend/src/app/shared/components/loading-spinner/loading-spinner.component.sass
  frontend/src/app/shared/components/loading-spinner/loading-spinner.component.ts
Labels: frontend

#177 moved file logic to fileProvider
  backend/buildeR.API/Controllers/UsersController.cs
  backend/buildeR.API/Extensions/ServiceExtensions.cs
  backend/buildeR.API/Resources/Avatars/Avatar-default.png
  backend/buildeR.API/Resources/Avatars/builder.png
  backend/buildeR.API/Resources/Avatars/logo.png
  backend/buildeR.BLL/Interfaces/IFileProvider.cs
  backend/buildeR.BLL/Interfaces/IUserService.cs
  backend/buildeR.BLL/Providers/FileProvider.cs
  backend/buildeR.BLL/Services/EnvironmentVariablesService.cs
  backend/buildeR.BLL/Services/UserService.cs
Labels: backend

#179 Feature/group list page
  backend/buildeR.API/Controllers/GroupsController.cs
  backend/buildeR.BLL/Interfaces/IGroupService.cs
  backend/buildeR.BLL/Services/GroupService.cs
  frontend/src/app/core/resolvers/group.resolver.ts
  frontend/src/app/core/services/group.service.spec.ts
  frontend/src/app/core/services/group.service.ts
  frontend/src/app/modules/group/group-list/group-list.component.html
  frontend/src/app/modules/group/group-list/group-list.component.sass
  frontend/src/app/modules/group/group-list/group-list.component.spec.ts
  frontend/src/app/modules/group/group-list/group-list.component.ts
  frontend/src/app/modules/group/group-routing.module.ts
  frontend/src/app/modules/group/group.module.ts
  frontend/src/app/modules/group/group/group.component.html
  frontend/src/app/modules/group/group/group.component.sass
  frontend/src/app/modules/group/group/group.component.spec.ts
  frontend/src/app/modules/group/group/group.component.ts
  frontend/src/app/modules/work-space/work-space-routing.module.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.ts
  frontend/src/app/shared/models/group/group.ts
  frontend/src/app/shared/models/group/team-member.ts
  frontend/src/app/shared/models/group/user-role.ts
Labels: backend, frontend

#182 Hotfix/fix overwriting user data
  backend/buildeR.API/Controllers/UsersController.cs
  frontend/src/app/core/components/email-verification-modal/email-verification-modal.component.html
  frontend/src/app/core/components/email-verification-modal/email-verification-modal.component.sass
  frontend/src/app/core/components/email-verification-modal/email-verification-modal.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/firebase-sign-in.service.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
Labels: bugfix, frontend

#183 added (mapping description) during result from saving
  frontend/src/app/modules/user/notification-setting/notification-setting.component.ts
Labels: bugfix, frontend

#180 Improve help page, and add this page to landing page
  backend/buildeR.API/Controllers/UsersController.cs
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/modules/landing-page/landing-page-content.component/landing-page-content.component.html
  frontend/src/app/modules/landing-page/landing-page-content.component/landing-page-content.component.sass
  frontend/src/app/modules/landing-page/landing-page-content.component/landing-page-content.component.ts
  frontend/src/app/modules/landing-page/landing-page-routing.module.ts
  frontend/src/app/modules/landing-page/landing-page.component.html
  frontend/src/app/modules/landing-page/landing-page.component.sass
  frontend/src/app/modules/landing-page/landing-page.component.ts
  frontend/src/app/modules/landing-page/landing-page.module.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
  frontend/src/app/modules/work-space/help/help.component.html
  frontend/src/app/modules/work-space/help/help.component.sass
  frontend/src/app/modules/work-space/help/help.component.ts
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
  frontend/src/app/modules/work-space/work-space-routing.module.ts
Labels: backend, frontend

#185 add info for page without groups
  frontend/src/app/modules/group/group-list/group-list.component.html
  frontend/src/app/modules/group/group-list/group-list.component.sass
  frontend/src/app/modules/group/group-list/group-list.component.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.ts
  frontend/src/assets/images/group.png
Labels: frontend

#184 Change github authorization from auth token to basic auth
  backend/buildeR.API/Controllers/SynchronizationController.cs
  backend/buildeR.BLL/Interfaces/IGithubClient.cs
  backend/buildeR.BLL/Interfaces/ISynchronizationService.cs
  backend/buildeR.BLL/Services/GithubClient.cs
  backend/buildeR.BLL/Services/SynchronizationService.cs
  backend/buildeR.Common/DTO/Synchronization/Credentials.cs
  backend/buildeR.Common/DTO/Synchronization/Github/GithubRepository.cs
  backend/buildeR.Common/DTO/Synchronization/Repository.cs
  backend/buildeR.Common/DTO/Synchronization/SynchronizedUser.cs
  backend/buildeR.DAL/Entities/Repository.cs
  frontend/src/app/core/models/Credentials.ts
  frontend/src/app/core/services/synchronization.service.ts
  frontend/src/app/core/validators/user-credentials.async-validator.ts
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.ts
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
  frontend/src/app/modules/user/credential-settings/credential-settings.component.html
  frontend/src/app/modules/user/credential-settings/credential-settings.component.sass
  frontend/src/app/modules/user/credential-settings/credential-settings.component.spec.ts
  frontend/src/app/modules/user/credential-settings/credential-settings.component.ts
  frontend/src/app/modules/user/user-routing.module.ts
  frontend/src/app/modules/user/user.component.ts
  frontend/src/app/modules/user/user.module.ts
Labels: backend, frontend

#187 Fix padding and font styles
  frontend/src/app/modules/work-space/help/help.component.sass
Labels: frontend

#189 Correct typo on project-settings
  frontend/src/app/modules/project/project-settings/project-settings.component.html
Labels: frontend

#191 Fix place holder
  frontend/src/app/modules/user/user-settings/user-settings.component.html
Labels: frontend

#190 Project card improvements at Dashboard tab
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
Labels: frontend

#188 Improved github synchronization
  backend/buildeR.API/Controllers/ProjectsController.cs
  backend/buildeR.API/Controllers/SynchronizationController.cs
  backend/buildeR.BLL/Services/Abstract/IProjectService.cs
  backend/buildeR.BLL/Services/ProjectService.cs
  backend/buildeR.BLL/Services/SynchronizationService.cs
  backend/buildeR.Common/DTO/Synchronization/Github/GithubRepository.cs
  backend/buildeR.Common/DTO/Synchronization/Repository.cs
  frontend/src/app/core/models/NewRepository.ts
  frontend/src/app/core/models/Repository.ts
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/core/services/synchronization.service.ts
  frontend/src/app/core/validators/repo-url.async-validator.ts
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.ts
  frontend/src/app/modules/project/validators/project-name.async-validator.ts
  frontend/src/app/modules/project/validators/repo-url.validator.directive.ts
  frontend/src/app/modules/user/credential-settings/credential-settings.component.html
  frontend/src/app/modules/user/credential-settings/credential-settings.component.ts
Labels: backend, enhancement, frontend

#196 Add owner logo to project card
  frontend/src/app/modules/work-space/dashboard/dashboard.component.html
  frontend/src/app/modules/work-space/dashboard/dashboard.component.sass
Labels: frontend

#197 Notification block: bug + improvements ideas
  frontend/src/app/modules/user/notification-setting/notification-setting.component.ts
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.html
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.ts
  frontend/src/app/shared/models/notification-setting/notification-description.ts
  frontend/src/app/shared/models/notification-setting/notification-setting-option.ts
  frontend/src/app/shared/models/notification-setting/notification-setting-type.ts
  frontend/src/app/shared/models/notification-type.ts
Labels: frontend

#195 Feature/insights
  backend/buildeR.API/Resources/Avatars/builder.png
  backend/buildeR.Common/Enums/BuildStatus.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/modules/project/project-create/project-create.component.ts
  frontend/src/app/modules/user/insights/insights.component.html
  frontend/src/app/modules/user/insights/insights.component.sass
  frontend/src/app/modules/user/insights/insights.component.ts
  frontend/src/app/modules/user/user-routing.module.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
  frontend/src/app/modules/user/user.component.ts
  frontend/src/app/modules/user/user.module.ts
  frontend/src/app/shared/components/chart-big-normalized/chart-big-normalized.component.html
  frontend/src/app/shared/components/chart-big-normalized/chart-big-normalized.component.sass
  frontend/src/app/shared/components/chart-big-normalized/chart-big-normalized.component.spec.ts
  frontend/src/app/shared/components/chart-big-normalized/chart-big-normalized.component.ts
  frontend/src/app/shared/components/chart-small/chart-small.component.html
  frontend/src/app/shared/components/chart-small/chart-small.component.sass
  frontend/src/app/shared/components/chart-small/chart-small.component.spec.ts
  frontend/src/app/shared/components/chart-small/chart-small.component.ts
  frontend/src/app/shared/models/build-history.ts
  frontend/src/app/shared/models/build-status.ts
  frontend/src/app/shared/models/user/user.ts
  frontend/src/app/shared/shared.module.ts
Labels: backend, database, frontend

#203 Load repository url when repository is choosen from list
  backend/buildeR.BLL/Services/SynchronizationService.cs
  backend/buildeR.Common/DTO/Synchronization/Github/GithubRepository.cs
  backend/buildeR.Common/DTO/Synchronization/Repository.cs
  frontend/src/app/modules/project/project-create/project-create.component.ts
Labels: backend, bugfix

#205 Dont load user password on credentials settings page
  frontend/src/app/modules/user/credential-settings/credential-settings.component.html
  frontend/src/app/modules/user/credential-settings/credential-settings.component.ts
Labels: enhancement, frontend

#206 get groups by user
  backend/buildeR.API/Controllers/GroupsController.cs
  backend/buildeR.BLL/Interfaces/IGroupService.cs
  backend/buildeR.BLL/Services/GroupService.cs
  frontend/src/app/core/services/group.service.ts
  frontend/src/app/modules/group/group-list/group-list.component.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.ts
Labels: backend, frontend

#209 Remove using stepName as stage name in dockerfile
  backend/buildeR.Processor/Services/ProcessorService.cs
Labels: bugfix

#208 Add text content to some pages and fix help page
  frontend/src/app/modules/user/credential-settings/credential-settings.component.html
  frontend/src/app/modules/user/credential-settings/credential-settings.component.sass
  frontend/src/app/modules/user/notification-setting/notification-setting.component.html
  frontend/src/app/modules/user/notification-setting/notification-setting.component.sass
  frontend/src/app/modules/user/user-settings/user-settings.component.html
  frontend/src/app/modules/user/user-settings/user-settings.component.sass
  frontend/src/app/modules/work-space/help/help.component.html
  frontend/src/app/modules/work-space/help/help.component.sass
  frontend/src/app/modules/work-space/help/help.component.ts
Labels: bugfix, frontend

#212 Hotfix/new group page improvement
  frontend/src/app/modules/group/group-create/group-create.component.html
  frontend/src/app/modules/group/group-create/group-create.component.sass
Labels: bugfix, frontend

#211 added notifications counter
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.html
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.ts
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.ts
Labels: bugfix

#213 fix updating user in user settings
  backend/buildeR.BLL/Services/UserService.cs
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/firebase-sign-in.service.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
  frontend/src/app/shared/models/user/user.ts
Labels: backend, bugfix, frontend

#214 Fix typo on the project-triggers page
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.ts
Labels: bugfix

#215 Feature/processor upgrade
  backend/buildeR.BLL/Services/ProjectService.cs
  backend/buildeR.Common/DTO/PluginCommand/CommandArgumentDTO.cs
  backend/buildeR.DAL/buildeR.DAL.csproj
  backend/buildeR.Processor/Extensions/ApplicationBuilderExtentions.cs
  backend/buildeR.Processor/Extensions/ServiceExtensions.cs
  backend/buildeR.Processor/Properties/launchSettings.json
  backend/buildeR.Processor/Services/ProcessorService.cs
  backend/buildeR.Processor/Startup.cs
Labels: backend

#216 Fix delete group
  frontend/src/app/modules/group/group-list/group-list.component.ts
Labels: frontend

#217 Fix update group
  frontend/src/app/core/services/group.service.ts
  frontend/src/app/modules/group/group-settings/group-settings.component.html
  frontend/src/app/modules/group/group-settings/group-settings.component.sass
  frontend/src/app/modules/group/group-settings/group-settings.component.ts
  frontend/src/app/modules/group/group/group.component.ts
Labels: frontend

#220 Fixed falling out elements in triggers ui
  frontend/src/app/modules/project/project-triggers/project-triggers.component.html
  frontend/src/app/modules/project/project-triggers/project-triggers.component.sass
  frontend/src/styles/global.sass
Labels: bugfix, frontend

#221 some fix for notifications block
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.html
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.ts
Labels: bugfix, frontend

#222 Implemented real data with insights
  backend/buildeR.BLL/Services/UserService.cs
  backend/buildeR.Common/DTO/User/UserAvatarDTO.cs
  backend/buildeR.Common/DTO/User/UserDTO.cs
  backend/buildeR.Processor/Properties/launchSettings.json
  frontend/package-lock.json
  frontend/src/app/core/resolvers/group.resolver.ts
  frontend/src/app/core/resolvers/project.resolver.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/user/insights/insights.component.ts
  frontend/src/app/modules/user/user.component.ts
  frontend/src/app/shared/models/build-history.ts
  frontend/src/app/shared/models/user/user-avatar.ts
  frontend/src/app/shared/models/user/user.ts
Labels: backend, frontend

#223 Improve group members tab
  backend/buildeR.API/Controllers/TeamMembersController.cs
  backend/buildeR.BLL/Interfaces/ITeamMemberService.cs
  backend/buildeR.BLL/Services/TeamMemberService.cs
  backend/buildeR.Common/DTO/TeamMember/NewTeamMemberDTO.cs
  frontend/src/app/core/services/group.service.ts
  frontend/src/app/core/services/team-member.service.spec.ts
  frontend/src/app/core/services/team-member.service.ts
  frontend/src/app/modules/group/group-list/group-list.component.html
  frontend/src/app/modules/group/group-list/group-list.component.sass
  frontend/src/app/modules/group/group-list/group-list.component.ts
  frontend/src/app/modules/group/group-members/group-members.component.html
  frontend/src/app/modules/group/group-members/group-members.component.sass
  frontend/src/app/modules/group/group-members/group-members.component.ts
  frontend/src/app/modules/group/group-projects/group-projects.component.ts
  frontend/src/app/modules/group/group/group.component.ts
Labels: backend, frontend

#224 add catch error on cancel delete
  frontend/src/app/modules/group/group-list/group-list.component.ts
Labels: bugfix

#225 changed logic of receiving history
  backend/buildeR.API/Controllers/BuildsController.cs
  backend/buildeR.BLL/Interfaces/IBuildService.cs
  backend/buildeR.BLL/Services/BuildService.cs
  backend/buildeR.BLL/Services/UserService.cs
  frontend/src/app/core/services/build-history.service.ts
  frontend/src/app/modules/user/insights/insights.component.ts
Labels: backend

#227 added watch value button in environment variables
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.html
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.sass
  frontend/src/app/modules/project/project-settings/env-vars-editor/env-vars-editor.component.ts
Labels: frontend

#229 added cropper for url uploader of photos
  backend/buildeR.API/Resources/Avatars/Avatar-default.png
  backend/buildeR.API/Resources/Avatars/Vug73VVDiH.png
  backend/buildeR.API/Resources/Avatars/builder.png
  backend/buildeR.API/Resources/Avatars/logo.png
  backend/buildeR.BLL/Providers/FileProvider.cs
  frontend/src/app/core/services/modal-cropper.service.ts
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.html
  frontend/src/app/modules/user/photo-cropper-content/photo-cropper-content.component.ts
  frontend/src/app/modules/user/user-settings/user-settings.component.ts
  frontend/src/app/modules/user/user.component.ts
Labels: backend, frontend

#230 change user-role enum to group role
  backend/buildeR.BLL/Services/GroupService.cs
  backend/buildeR.Common/DTO/TeamMember/NewTeamMemberDTO.cs
  backend/buildeR.Common/DTO/TeamMember/TeamMemberDTO.cs
  backend/buildeR.Common/Enums/GroupRole.cs
  backend/buildeR.DAL/Context/ModelBuilderExtensions.cs
  backend/buildeR.DAL/Entities/TeamMember.cs
  frontend/src/app/core/services/team-member.service.ts
  frontend/src/app/modules/group/group-list/group-list.component.html
  frontend/src/app/modules/group/group-list/group-list.component.ts
  frontend/src/app/modules/group/group-members/group-members.component.html
  frontend/src/app/modules/group/group-members/group-members.component.ts
  frontend/src/app/shared/models/group/group-role.ts
  frontend/src/app/shared/models/group/team-member.ts
  frontend/src/app/shared/models/group/user-role.ts
Labels: backend, frontend

#231 added group interaction
  frontend/src/app/modules/group/group-list/group-list.component.html
  frontend/src/app/modules/group/group-list/group-list.component.sass
Labels: frontend

#232 Replace switch on the radio buttons on the project create modal
  frontend/src/app/modules/group/group-create/group-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.sass
  frontend/src/app/modules/project/project-create/project-create.component.ts
Labels: frontend

#233 Improve validation on the modal "project create"
  frontend/src/app/modules/project/project-create/project-create.component.html
  frontend/src/app/modules/project/project-create/project-create.component.ts
Labels: frontend

#234 Hotfix/general improvements
  frontend/src/app/core/validators/custom-async-validator.ts
  frontend/src/app/modules/work-space/notifications-block/notifications-block.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.html
  frontend/src/app/modules/work-space/work-space/work-space.component.sass
  frontend/src/app/modules/work-space/work-space/work-space.component.ts
  frontend/src/app/shared/shared.module.ts
Labels: bugfix, frontend

#236 fix group description maxlength
  frontend/src/app/modules/group/group-create/group-create.component.ts
Labels: backend, frontend
